$color-header-text: #FFF;
$color-header-nav-link: #4E5665;
$color-title: #4E5665;
$color-text: #505050;

$color-border-to-header-top: #ECB84C;
$color-border-to-header-link: #ECB84C;

$fill-contact-svg: #D3D3D3;

$font-size-body: 16px;